player-connection-mode=Listen
player-connection-guid=481137088
player-connection-debug=0
player-connection-project-name=PhotonTestProject
player-connection-ip=25.28.7.170
player-connection-ip=192.168.0.221
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=ff7c16a18c704ff9a5f38f5c6a219adf
